<form [formGroup]="registerForm">
    <p-card header="Registro">
        <span class="p-float-label">
            <input pInputText
            formControlName="name" [style.color]="!isInputEmpty('name') && reviewed ? 'red':''">
            <label for="name">Nombre</label>
        </span>
        @if (!isInputEmpty('name') && reviewed) {
            <p class="block p-error">
                @if ( registerForm.controls.mail.invalid){
                    El nombre es obligatorio
                }
            </p>
        }

        <span class="p-float-label"  [style.margin-top]=" (!isInputEmpty('lastnames') && reviewed) ? '25px' :'30px'">

            <input pInputText
            formControlName="lastnames" [style.color]="!isInputEmpty('lastnames') && reviewed ? 'red':''">
            <label for="lastnames">Apellidos</label>
        </span>
        @if (!isInputEmpty('lastnames') && reviewed) {
            <p class="block p-error">
                @if ( registerForm.controls.mail.invalid){
                    Los apellidos son obligatorios
                }
            </p>
        }


        <span class="p-float-label"  [style.margin-top]=" (!isInputEmpty('lastnames') && reviewed) ? '25px' :'30px'">
            <input pInputText
            formControlName="mail" [style.color]="!isMailValid() && reviewed ? 'red':''">
            <label for="mail">Correo</label>
        </span>

        @if (!isMailValid() && reviewed) {
            <p class="block p-error">
                @if ( registerForm.value.mail != ""){
                    Introduzca un email válido
                }  @else {
                    El correo es obligatorio
                }
            </p>
        }
        <span class="p-float-label" [style.margin-top]=" (isMailValid() && reviewed) ? '25px' :'30px'">
            <input pInputText type="password"
            formControlName="password">
            <label for="password">Contraseña</label>

        </span>

        <span class="p-float-label" [style.margin-top]="'30px'">
            <input pInputText type="password"
            formControlName="repitPass">
            <label for="password">Repita la contraseña</label>

        </span>


        @if ( (! isInputEmpty("password") || ! (this.registerForm.value.password === this.registerForm.value.repitPass))
        && reviewed) {
            <p class="block p-error">
                @if (! isInputEmpty("password") || ! isInputEmpty("repitPass")) {
                    La contraseña es obligatoria
                } @else {
                    Las contraseñas no son iguales
                }
            </p>
        }


        <button pButton type="button" (click)="submitRegisterForm()"
        label="Register" icon="pi pi-pencil" iconPos="right" ></button>

        <p>
            ¿Ya eres miembro? <a href="/login">Login</a>
        </p>


    </p-card>
</form>
