p-card {
    margin: 5% auto;
    width: 18%;
    display: block;
    text-align: center;
}

.p-float-label {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

.p-buttonset button {
    margin: 3%;
    width: 120px;
}

.p-password {
    position: absolute;
    width: 100%;
}
/* Sobreescribimos los estilos del ng-module */
.p-float-label > .ng-invalid.ng-dirty + label {
    color: #6b7280;
  }
.p-inputtext.ng-dirty.ng-invalid {
    border-color: #6b7280;
  }
