<form [formGroup]="loginForm">
    <p-card header="Login">
        <span class="p-float-label">
            <input pInputText 
            formControlName="mail" [style.color]="!isMailValid() && reviewed ? 'red':''">
            <label for="mail">Correo</label>
        </span>  
        @if (!isMailValid() && reviewed) {
            <p class="block p-error">
                @if ( loginForm.controls.mail.invalid){
                    Introduzca un email válido
                }  @else {
                    El correo es obligatorio
                }
            </p>
        }   
        <span class="p-float-label" [style.margin-top]=" (isMailValid() && reviewed) ? '15px' :'30px'">
            <input pInputText type="password"
            formControlName="password">
            <label for="password">Contraseña</label>
            
        </span>
        @if ( ! isPassValid() && reviewed) {
            <p class="block p-error">
                La contraseña es obligatoria
            </p>
        }

        <span class="p-buttonset" >
        <button  [style.margin-top]=" (isPassValid() && reviewed) ? '15px' :'30px'" 
         pButton type="button" label="Login" icon="pi pi-users" (click)="submitLoginForm()" ></button>
        <button pButton type="button" [routerLink]="'/register'" label="Register" icon="pi pi-pencil" iconPos="right" ></button>
        </span>
        
    </p-card>
</form>